#div1 {
  background-color: var(--header-clr);
  color: var(--text-white-clr);
}

#div2 {
  background-color: var(--dark-clr-1);
  color: var(--text-blue-clr);
}

#div3 {
  background-color: var(--dark-clr-2);
  color: var(--text-white-clr);
}

#div4 {
  background-color: var(--background-clr);
  border: 1px solid var(--border-clr);
  color: var(--text-white-clr);
}