.select-group {
  position: relative;
}

/* custom chevron arrow */
.select-group::after {
  content: '';
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--icon-clr);
  pointer-events: none;
}
