/*
======================================================================================
Filters
======================================================================================
*/

.filters {
  margin-bottom: var(--space-2xl);
}

.filters-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-sm);
}



/* input needs to be slightly bigger to hold the placeholder text */
.webhook-event-input-group {
  position: relative;
  width: 30%;
}

.webhook-event-input-group input {
  padding-left: 34px;
}