/*
============================================================
Pagination overrides for centered layout
 -- this makes the pagination centered at the rightmost side
============================================================
*/
.page-layout .page-view {
  padding: var(--space-xl) 0;
  justify-content: space-between;
}

/*
This one is tricky:
 - .pages is set to "position: absolute" in table.css
 - That means if you don't override it back to "position: static" (the default position)
 - Then the .pagination-row will just go all the way to the left because "justify-content: space-betewen" from above will not account for an element with position: absolute
*/
.page-layout .page-view .pages {
  position: static;
}

.page-layout .pagination-row {
  padding-left: 0;
  gap: var(--space-md);
}

/* 
======================
Input Size Override
======================
*/
.approvals-input-group {
  position: relative;
  width: 30%;
}

/*
===================================
Approval Cards
===================================
*/

.approvals-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.approval-card ion-icon {
  font-size: 19px;
  color: var(--icon-clr);
}

.approval-card {
  width: 100%;
  min-width: 536px;
  max-width: 1000px;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-md);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  border: 1px solid var(--light-border-clr);
  background: var(--dark-clr-2);
}

.approval-card:first-of-type {
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}

.approval-card:last-of-type {
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.approvals-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.approval-card-row {
  display: flex;
  justify-content: space-between;
}

.pipeline-name-type {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.pipeline-name-type span {
  font-weight: bold;
  font-size: 18px;
}

.pipeline-name-type .production {
  background-color: var(--header-clr);
  color: var(--text-white-clr);
  padding: var(--space-2xs);
  border-radius: var(--radius-pill);
}

.pipeline-name-type .type {
  background-color: #1e2d6b;
  color: var(--text-white-clr);
  padding: var(--space-2xs);
  border-radius: var(--radius-pill);
}

.feature-info {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.feature-info .feature-id {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.feature-info .feature-id span {
  color: var(--text-blue-clr);
}

.feature-info .feature {
  color: var(--subtitle-clr);
  font-size: var(--font-size-body);
}

.extra-info {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.meta-row {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.meta-row .waiting-time {
  color: var(--red-text);
}

.stage-view {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stage-view > div:hover {
  cursor: pointer;
}

.btn-group {
  display: flex;
  align-items: flex-start;
  gap: var(--space-lg);
  font-size: var(--font-size-sm);
}

.reject-btn, .approve-btn {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  border: none;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
}

.reject-btn {
  color: var(--red-text);
  background-color: var(--red-btn-clr);
  border: 1px solid var(--red-btn-border-clr);
}

.reject-btn:hover {
  background-color: var(--red-btn-hover-clr);
}

.approve-btn {
  color: var(--green-text);
  background-color: var(--green-clr);
  border: 1px solid var(--green-border-clr);
}

.approve-btn:hover {
  background-color: var(--green-hover-clr);
}

.view-run-btn {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  border: 1px solid var(--blue-btn-border-clr);
  background-color: var(--blue-btn-clr);
  color: var(--blue-text);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.view-run-btn:hover {
  background-color: var(--blue-btn-hover-clr);
}


/* 
stages
*/
.stages {
  border-top: 2px solid var(--light-border-clr);
  padding-top: var(--space-sm);
  overflow-x: auto;
  padding-bottom: 15px;
}

.stages::-webkit-scrollbar {
  height: 5px;
}

.stages-row {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.stages-row .stage {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-sm);
  border: 1px solid var(--light-border-clr);
  border-radius: var(--radius-lg);
  white-space: nowrap;
}

.stages-row .stage span {
  font-weight: bold;
}

.stages-row .approval {
  background-color: #94471a;
}
