.cards-row {
  display: flex;
  border: 1px solid var(--light-gray-clr);
  border-radius: var(--radius-lg);
  overflow: hidden;
  margin-bottom: var(--space-2xl);
}

.card {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-gap-md) 16px;
  flex: 1;
  border-right: 1px solid var(--light-gray-clr);
}

.card:last-child {
  border-right: none;
}

.card-detail {
  display: flex;
  flex-direction: column;
}

.card-detail .card-total {
  font-weight: bold;
  color: var(--blue-clr);
}

.card-detail .card-name {
  font-family: "JetBrains Mono";
}

/* Approvals */
.card-detail .card-total.wait-time {
  color: var(--red-text);
}

/* Webhook Events */
.card-detail .card-total.processed {
  color: var(--pill-succeeded-text);
}

.card-detail .card-total.ignored {
  color: var(--pill-ignored-text);
}

.card-detail .card-total.failed {
  color: var(--pill-failed-text);
}


