.filters {
    margin-bottom: 40px;
}

.filters-flex {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.input-group {
  position: relative;
  width: 25%;
}

.input-group ion-icon, .webhook-event-input-group ion-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--icon-clr);
  pointer-events: none; /* clicks go through the search icon */
  font-size: 16px;
}

/* offset text so it doesn't overlap the search icon */
.input-group input {
  padding-left: 34px;
}

.select-group {
  position: relative;
}

/* custom chevron arrow */
.select-group::after {
  content: '';
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--icon-clr);
  pointer-events: none;
}

.active-runs {
  align-self: flex-start;
}

.active-runs > div {
  color: var(--text-blue-clr);
}

/* input needs to be slightly bigger to hold the placeholder text */
.webhook-event-input-group {
  position: relative;
  width: 30%;
}
