* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-white-clr);
}

body {
  background: var(--background-clr)
}

:root {
  --background-clr: #191919;
  --header-clr: #163452;
  --text-white-clr: #dcdcdc;
  --text-blue-clr: #50a5ff;
  --dark-clr-1: #00000026;
  --dark-clr-2: #1e1e1e;
  --border-clr: #ffffff14;
}



