

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.login-flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.title {
  font-weight: 600;
  font-size: 60px;
}

.login-container button {
  color: var(--white-clr);
  background-color: var(--btn-subheader-clr);
  border: none;
  padding: var(--space-sm) var(--space-lg);
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: var(--btn-subheader-clr-hover);
}