.page-view {
  padding: 75px 150px 75px 0;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  /* since .pages is position: absolute, it isn't moved to to the center. It does gain the benefits of align-items though */
}

.page-view .pages {
  position: absolute;
  left: 0;
}

.pagination-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-left: 150px; /* centers the pagination with the table */
}

.view-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--space-sm);
  border: 1px solid var(--color-border-mid);
  padding: 12px var(--space-md);
  cursor: pointer;
}

.view-option:hover {
  background-color: var(--header-clr);
}

.page-numbers {
  display: flex;
  gap: var(--space-gap-md);
}

.page-number span {
  position: relative;  /* needed so that the underline is positioned relative to parent */
  width: max-content;
  background-color: var(--header-clr);
  padding: var(--space-xs) 8px;
  border-radius: var(--radius-sm);
}