.subheader {
  margin-bottom: var(--space-lg);
}

.subheader-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-lg);
}

.subheader .title-group {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--space-sm);
}

.title-group .subtitle {
  display: flex;
  gap: var(--space-xs);
  color: var(--subtitle-clr);
}

.subheader .add-div {
  display: flex;
  justify-content: end;
  align-items: center
}

.subheader .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--button-clr);
  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
}

.subheader ion-icon {
  margin-right: var(--space-xs);
  font-size: 20px;
}

.subheader .add-btn div {
  font-size: 15px;
  font-weight: bold;
}

.subheader button:hover {
  background-color: var(--button-clr-hover);
  cursor: pointer;
}


/* Pipeline List */
.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}