/*
========================================
Settings Subheader
========================================
*/
.settings-subheader {
    padding-bottom: var(--space-md);
    border-bottom: 1px solid var(--light-border-clr);
}

/*
========================================
Webhooks
========================================
*/
.webhook-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.webhook-container {
  width: 100%;
  min-width: 536px;
  max-width: 1000px;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-md);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  border: 1px solid var(--light-border-clr);
}

.webhook-container:first-of-type {
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}

.webhook-container:last-of-type {
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.webhook-row {
  display: flex;
  justify-content: space-between;
}

.webhook-detail {
  display: flex;
  gap: var(--space-lg);
}

.webhook-detail .git-icon ion-icon {
  background-color: var(--light-border-clr);
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
}

.pipeline-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.webhook-detail .name-status {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.webhook-detail .name-status .active {
  background-color: var(--header-clr);
  color: var(--text-blue-clr);
  padding: var(--space-2xs);
  border-radius: var(--radius-pill);
}

.webhook-detail .name-status .inactive {

  border: 1px solid var(--light-border-clr);
  color: var(--text-white-clr);
  padding: var(--space-2xs);
  border-radius: var(--radius-pill);
}

.pipeline-info .events {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-sm);
}

.pipeline-info .event-type {
  font-size: 12px;
  background-color: var(--light-border-clr);
  padding: var(--space-2xs);
  border-radius: var(--radius-sm);
}

.pipeline-info .secret {
  display: flex;
  align-items: center;
  gap: var(--space-gap-md);
  margin-bottom: var(--space-sm);
}

.pipeline-info .secret ion-icon {
  font-size: 19px;
  cursor: pointer;
}

.pipeline-info .time {
  display: flex;
  align-items: center;
}

.pipeline-info .last-delivery {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.pipeline-info .registered {
  margin-left: var(--space-md);
}

.webhook-row .options {
  display: flex;
  gap: var(--space-md);
}

.webhook-row .options > ion-icon {
  cursor: pointer;
}


/*
============================================================
Pagination overrides for centered layout
 -- this makes the pagination centered at the rightmost side
============================================================
*/
.page-layout .page-view {
  padding: var(--space-xl) 0;
  justify-content: space-between;
}

/*
This one is tricky:
 - .pages is set to "position: absolute" in table.css
 - That means if you don't override it back to "position: static" (the default position)
 - Then the .pagination-row will just go all the way to the left because "justify-content: space-betewen" from above will not account for an element with position: absolute
*/
.page-layout .page-view .pages {
  position: static;
}

.page-layout .pagination-row {
  padding-left: 0;
  gap: var(--space-md);
}


