<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/general.css" />
  <link rel="stylesheet" href="../../styles/sidebar.css" />
  <title>Deplo | Sidebar</title>
</head>
<body>
  <section class="sidebar">

    <div class="sidebar-header-flex">
      <div class="title">Deplo</div>
      <div class="chevron-container">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>

    <div class="sidebar-content">
      <div class="sidebar-content-flex">
        <div class="subtitle">DEPLOY</div>
        <ul>
          <li>
            <ion-icon name="git-network-outline"></ion-icon>
            <a href="../pipeline-list.html">
              <div class="title">Pipelines</div>
            </a>
            
          </li>
          <li>
            <ion-icon name="time-outline"></ion-icon>
            <a href="../run-history.html">
              <div class="title">Run History</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-content">
      <div class="sidebar-content-flex">
        <div class="subtitle">MANAGE</div>
        <ul>
          <li>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <a href="../secrets.html">
              <div class="title">Secrets</div>
            </a>
          </li>
          <li>
            <ion-icon name="settings-outline"></ion-icon>
            <a href="../webhooks.html">
              <div class="title">Webhooks</div>
            </a>
            
          </li>
          <li>
            <ion-icon name="reader-outline"></ion-icon>
            <a href="../audit-log.html">
              <div class="title">Audit Log</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile">
      <div class="profile-flex">
        <div class="profile-container">
          <div class="profile-pic"></div>
          <div class="profile-details">
            <div class="name">Coco</div>
            <div class="role">ADMIN</div>
          </div>
        </div>
        <div>
          <ion-icon name="chevron-up-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="profile-view-container">
      <div class="profile-view-flex">
        <div class="profile-view">Profile</div>
        <div class="sign-out">Sign Out</div>
      </div>
    </div>

  </section>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
  document.querySelector('.profile').addEventListener('click', function () {
    document.querySelector('.profile-view-container').classList.toggle('visible');
  });
</script>

</html>